<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style> a{text-decoration: none}</style>
</head>

<body style="margin-top: 20%;background-color: lightyellow">
        <div style="background-color:tan">
        <h1 class="text-center">Voting</h1>   
        <h1 style="display: inline-block;width: 75%;padding-left: 10%;"><a href="/users/signin">Sign In</a></h1>
        <h1 style="display: inline-block;"><a href="/users/signup">Sign Up</a></h1>
</body>
</html>